<p>The KAIST Multispectral Pedestrian Dataset consists of <span style="color:#000000"><u><strong>95k color-thermal pairs</strong></u></span> (640x480, 20Hz) taken from a vehicle. All the pairs are manually annotated (<strong><u><span style="color:#000000">person, cyclist, people, person?</span></u></strong>) for the total of 103,128 dense annotations and 1,182 unique pedestrians. The annotation includes temporal correspondence between bounding boxes like Caltech Pedestrian Dataset. More infomation can be found in our CVPR 2015</p>

<ul>
	<li><strong>person</strong>: obviously an individual pedestrian</li>
	<li><strong>cyclist</strong>: a person riding a two-wheeled vehicle</li>
	<li><strong>people</strong>: Not distinguishable individuals</li>
	<li><strong>person?</strong>: even human annotators sometimes cannot clearly determine whether a human shaped object is a pedestrian or not in a highly cluttered scene</li>
</ul>
